---
layout: default
title: 'About'
image: 'about.jpg'
---

<section class="about">
	<article class="about__piece">
		<h1>hey</h1>
	</article>

	<article sizer="two-four" title="life summary" class="about__piece" onclick="aboutModal('life_summary');">
		<h1>life summary</h1>
	</article>

	<article class="about__piece" title="Instagram">
		<a href="https://www.instagram.com/{{ site.instagram_username }}">
			<h1>instagram</h1>
		</a>
	</article>

	<article sizer="two-four" title="Github" class="about__piece">
		<a href="https://www.github.com/{{ site.github_username }}">
			<h1>github</h1>
		</a>
	</article>

	<article class="about__piece" title="knowledge" onclick="aboutModal('knowledge');">
		<h1>knowledge</h1>
	</article>

	<article sizer="two-four" title="Twitter" class="about__piece">
		<a href="https://www.twitter.com/{{ site.twitter_username }}">
			<h1>twitter</h1>
		</a>
	</article>

	{% comment %}
	{% for project in site.posts %}
		{% if project.kind == 'project' %}
			<article class="about__piece" title="{{ project.title }}">
				<a href="{{ project.link }}">
					<h1>{{ project.title }}</h1>
				</a>
			</article>
		{% endif %}
	{% endfor %}
	{% endcomment %}
</section>

<section class="about__modal">
	<a href="javascript:void(0);" class="about__modal_quit"></a>

	<article class="about__modal_content" image="off" what="life_summary">
		<h1>let's go.</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quae ex tempore deserunt totam beatae modi sunt fugiat, eius earum, quo, est iusto illo quas provident at odit molestiae dicta.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quae ex tempore deserunt totam beatae modi sunt fugiat, eius earum, quo, est iusto illo quas provident at odit molestiae dicta.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quae ex tempore deserunt totam beatae modi sunt fugiat, eius earum, quo, est iusto illo quas provident at odit molestiae dicta.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quae ex tempore deserunt totam beatae modi sunt fugiat, eius earum, quo, est iusto illo quas provident at odit molestiae dicta.
		</p>
	</article>

	<article class="about__modal_content" image="off" what="knowledge">
		<h1>Listing</h1>
		
		<ul>
			<li>Something cool is here</li>
			<li>Something cool is here</li>
			<li>Something cool is here</li>
			<li>Something cool is here</li>
			<li>Something cool is here</li>
			<li>Something cool is here</li>
		</ul>
	</article>
</section>