<nav class="menu">
    <a href="/" class="logo">
    	<img src="/assets/img/logo.png">
    </a>
    
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/about">About</a></li>
    </ul>

    <a href="javascript:void(0);" class="flaticon-search"></a>
</nav>

<section class="search">
	<article>
		<h1>Pesquisar</h1>

		<span id="quit-search">Sair</span>

		<input id="search" type="text" placeholder="type your search">

		<ul>
			<li><a href="">link</a></li>
			<li><a href="">link</a></li>
			<li><a href="">link</a></li>
			<li><a href="">link</a></li>
			<li><a href="">link</a></li>
			<li><a href="">link</a></li>
		</ul>
	</article>
</section>